<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.express.yto.dao.PrepaymentMapper">
  <resultMap id="BaseResultMap" type="com.express.yto.model.Prepayment">
    <!--@mbg.generated-->
    <!--@Table t_prepayment-->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="k_code" jdbcType="VARCHAR" property="kCode" />
    <result column="pre_fee" jdbcType="DECIMAL" property="preFee" />
    <result column="start_time" jdbcType="TIMESTAMP" property="startTime" />
    <result column="end_time" jdbcType="TIMESTAMP" property="endTime" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, k_code, pre_fee, start_time, end_time
  </sql>
  <delete id="deleteBak">
    delete from t_prepayment_bak
  </delete>
  <insert id="insertBak">
    insert into t_prepayment_bak(k_code, pre_fee, start_time, end_time)
    select k_code, pre_fee, start_time, end_time from t_prepayment
  </insert>
  <update id="updateBatch">
    <foreach collection="list" separator=";" item="data">
      update t_prepayment set end_time = #{data.startTime} where k_code = #{data.customerId}
    </foreach>
  </update>
  <delete id="updateEndTime">
    update t_prepayment set end_time = #{endTime} where k_code = #{code} and end_time = '2999-12-31'
  </delete>
</mapper>