<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.express.yto.dao.WaybillDetailOriginalMapper">
    <resultMap id="BaseResultMap" type="com.express.yto.model.WaybillDetailOriginal">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="waybill_no" jdbcType="VARCHAR" property="waybillNo"/>
        <result column="scan_time" jdbcType="TIMESTAMP" property="scanTime"/>
        <result column="weight" jdbcType="DECIMAL" property="weight"/>
        <result column="province" jdbcType="VARCHAR" property="province"/>
        <result column="destination" jdbcType="VARCHAR" property="destination"/>
        <result column="salesman_name" jdbcType="VARCHAR" property="salesmanName"/>
        <result column="send_customer" jdbcType="VARCHAR" property="sendCustomer"/>
        <result column="send_customer_name" jdbcType="VARCHAR" property="sendCustomerName"/>
        <result column="settle_code" jdbcType="VARCHAR" property="settleCode"/>
        <result column="settle_name" jdbcType="VARCHAR" property="settleName"/>
        <result column="material_type" jdbcType="VARCHAR" property="materialType"/>
        <result column="extra_fee" jdbcType="DECIMAL" property="extraFee"/>
        <result column="express_fee" jdbcType="DECIMAL" property="expressFee"/>
        <result column="bill_month" jdbcType="VARCHAR" property="billMonth"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="task_no" jdbcType="VARCHAR" property="taskNo"/>
    </resultMap>

    <sql id="Base_Column_List">
        id, waybill_no, scan_time, weight, province, destination, salesman_name,
        send_customer, send_customer_name, settle_code, settle_name, material_type,
        extra_fee, express_fee, bill_month, create_time, update_time, task_no
    </sql>

    <insert id="insertBatch">
        INSERT INTO t_waybill_detail_original (
            waybill_no, scan_time, weight, province, destination, salesman_name,
            send_customer, send_customer_name, settle_code, settle_name, material_type,
            extra_fee, express_fee, bill_month, task_no
        ) VALUES
        <foreach collection="list" item="item" separator=",">
            (
                #{item.waybillNo}, #{item.scanTime}, #{item.weight}, #{item.province},
                #{item.destination}, #{item.salesmanName}, #{item.sendCustomer},
                #{item.sendCustomerName}, #{item.settleCode}, #{item.settleName},
                #{item.materialType}, #{item.extraFee}, #{item.expressFee},
                #{item.billMonth}, #{item.taskNo}
            )
        </foreach>
    </insert>
</mapper>